.gradient-background {
  background: linear-gradient(270deg, #ff6700, #fb9d00, #00f9fb, #00fb14, #ac00fb, #f760ff);
  background-size: 1200% 1200%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.idea-text {
  color: white;
  font-size: 1.5em;
  backdrop-filter: blur(10px); /* Aplica el desenfoque */
  background-color: rgba(46, 46, 46, 0.2); /* Fondo semitransparente */
  padding: 1rem; /* Agrega un pequeño espacio alrededor del texto */
  border-radius: 10px; /* Bordes redondeados */
}

h1 {
  color: white;
}

.imgs {
  padding-top: 2em;
}

@-webkit-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes AnimationName {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}

.App {
  text-align: center;
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
